<%= form_with(model: follow) do |form| %>
  <% if follow.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(follow.errors.count, "error") %> prohibited this follow from being saved:</h2>

      <ul>
        <% follow.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p> Your Instagram Username </p>
    <%= form.text_field :username, placeholder: "For example: So_white_." %>
  </div>

  <div>
    <p>Your Instagram Password</p>
    <%= form.password_field :password, placeholder: "For example: 1234" %>
  </div>

  <div>
    <p>How many followers do you want</p>
    <%= form.select :number, [50, 100, 500] %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>